@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Oxygen:700|Source+Sans+Pro:300);
/* Slider */
.slick-loading .slick-list
{
  background: #fff url('../../assets/img/slider/ajax-loader.gif') center center no-repeat;
}




/* Slider */
.slick-slider
{
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* Icons */
@font-face
{
  /* font-family: 'slick';
   font-weight: normal;
   font-style: normal;

   src: url('./fonts/slick.eot');
   src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');*/
}
/* Arrows */
.slick-prev,
.slick-next
{
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: -40px;

  display: block;

  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  z-index: 99;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  /* color: #000;
   outline: none;
   background: transparent;*/
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
  opacity: .6;
  /*opacity: 1;*/
}

.slick-prev:before,
.slick-next:before
{
  font-family: 'fontAwesome';
  font-size: 20px;
  line-height: 1;

  opacity: 1;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
  left: 94%;
}
[dir='rtl'] .slick-prev
{
  right: -25px;
  left: auto;
}
.slick-prev:before
{
  content: '\f104';
}
[dir='rtl'] .slick-prev:before
{
  content: '\f104';
}

.slick-next
{
  right: 0;
}
[dir='rtl'] .slick-next
{
  right: auto;
  left: -25px;
}
.slick-next:before
{
  content: '\f105';
}
[dir='rtl'] .slick-next:before
{
  content: '\f105';
}

/* Dots */
.slick-slider
{
  /*margin-bottom: 30px;*/
}

.slick-dots
{
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li
{
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}
.slick-dots li button:before
{
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
  opacity: .75;
  color: black;
}






























/* CSS Document */
.simpleLens-thumbnails-container a{
  display: inline-block;
}
.simpleLens-thumbnails-container a img{
  display: block;
}
.simpleLens-container{
  display: table;
  position: relative;
}

.simpleLens-big-image-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position:relative;
  height: 300px;
  width: 350px;
}

.simpleLens-big-image {
  max-width: 100%;
}

.simpleLens-lens-image {
  height: auto !important;
  width: 350px;
  display: inline-block;
  text-align: center;
  margin:0;
  box-shadow:none;
  float:none;
  position:relative;
}

.simpleLens-mouse-cursor{
  background-color:#CCC;
  opacity:0.2;
  filter: alpha(opacity = 20);
  position:absolute;
  top:0;
  left:0;
  border:1px solid #999;
  box-shadow:0 0 2px 2px #999;
  cursor:none;
}

.simpleLens-lens-element {
  background-color: #FFFFFF;
  box-shadow: 0 0 2px 2px #8E8E8E;
  height: 400px;
  left: 105%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 480px;
  z-index: 9999;
  text-align: center;
}

.simpleLens-lens-element img{
  position:relative;
  top:0;
  left:0;
  width:auto !important;
  max-width:none !important;
}


























/**
 * Theme Name: Modern Slide In
 * Version: 2.0.0
 * Theme URL: http://sequencejs.com/themes/modern-slide-in/
 *
 * A minimalist theme for showcasing products
 *
 * This theme is powered by Sequence.js - The
 * responsive CSS animation framework for creating unique sliders,
 * presentations, banners, and other step-based applications.
 *
 * Author: Ian Lunn
 * Author URL: http://ianlunn.co.uk/
 *
 * Theme License: http://sequencejs.com/licenses/#free-theme
 * Sequence.js Licenses: http://sequencejs.com/licenses/
 *
 * Copyright © 2015 Ian Lunn Design Limited unless otherwise stated.
 */


body,
html,
.seq {
  /* Uncomment to make the theme full-screen */
  /* width: 100% !important; */
  /* max-width: 100% !important; */
  /* height: 100% !important; */
  /* max-height: 100% !important; */
}

.seq {
  position: relative;
  /*background: #D9D9D9 url("../images/bg-sequence.jpg") no-repeat;*/
  background-position: 0% 100%;
  background-size: cover;
  /* Dimensions */
  height: 360px;
  width: 100%;
  /*max-width: 1280px;*/
  max-width: 100%;
  /* Hide anything that goes beyond the boundaries of the Sequence container */
  overflow: hidden;
  /* Center the Sequence container on the page */
  margin: 0 auto;
  padding: 0;
}

.seq .seq-preloader {
  background: #D9D9D9;
}

.seq .seq-screen,
.seq .seq-canvas,
.seq .seq-canvas > * {
  /* Reset the canvas and steps for more browser consistency */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  list-style: none;
}

.seq .seq-canvas > * {
  position: absolute;
}

.seq.seq-fallback {
  /* Fallback styles */
}

.seq.seq-fallback .seq-canvas {
  max-width: 1280px;
}

.seq.seq-fallback .seq-pagination li {
  position: relative;
}

.seq.seq-fallback .seq-pagination li img {
  border: none;
}

.seq.seq-fallback .seq-pagination li a {
  display: block;
  width: 100%;
  height: 100%;
}

.seq.seq-fallback .seq-next:focus,
.seq.seq-fallback .seq-next:hover,
.seq.seq-fallback .seq-prev:focus,
.seq.seq-fallback .seq-prev:hover,
.seq.seq-fallback .seq-pagination li:focus,
.seq.seq-fallback .seq-pagination li:hover {
  top: -4px;
}

.seq .seq-canvas {
  /*max-width: 1280px;*/
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}

.seq .seq-nav,
.seq .seq-pagination {
  /* Hide navigation when JS is disabled */
  display: none;
}

.seq.seq-active .seq-nav {
  /* Show navigation and pagination if JS is enabled */
  display: block;
}

.seq .seq-nav {
  /* Styles for next/previous buttons and pagination */
  position: absolute;
  z-index: 999;
  top: 50%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  pointer-events: none;
  border: none;
}

.seq .seq-next,
.seq .seq-prev {
  color:#fff;
  position: absolute;
  top: 50%;
  margin-top: -33px;
  padding: 10px 15px;
  line-height: 45px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  pointer-events: auto;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  font-size:50px;
  text-shadow: none;
}

.seq .seq-next {
  right: 20px;
  /*background: url("../img/slider/bt-next.png");*/
}

.seq .seq-next:focus,
.seq .seq-next:hover {
  -webkit-transform: translate3d(4px, 0, 0);
  -ms-transform: translate3d(4px, 0, 0);
  transform: translate3d(4px, 0, 0);
}

.seq .seq-prev {
  left: 20px;
  /*background: url("../img/slider/bt-prev.png");*/
}

.seq .seq-prev:focus,
.seq .seq-prev:hover {
  -webkit-transform: translate3d(-4px, 0, 0);
  -ms-transform: translate3d(-4px, 0, 0);
  transform: translate3d(-4px, 0, 0);
}

.seq .seq-model,
.seq .seq-title {
  position: absolute;
}

.seq .seq-title {
  bottom: 5%;
  margin: 0 2.5%;
  width: 95%;
}

.seq .seq-model {
  bottom: 15%;
  height: 100%;
  width: 100%;
  /* Don't allow the image to exceed its original height */
  /*max-height: 568px;*/
  max-height: 100%;
}

.seq .seq-model img {
  /* Don't allow the image to exceed its original height */
  /*max-height: 568px;*/
  max-height: 100%;
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate3d(60px, 0, 0);
  -ms-transform: translate3d(60px, 0, 0);
  transform: translate3d(60px, 0, 0);
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-properties: transform, opacity;
  transition-properties: transform, opacity;
  -webkit-transition-timing-function: ease-out !important;
  transition-timing-function: ease-out !important;
}

.seq .seq-title br {
  display: none;
}

.seq .seq-title h2,
.seq .seq-title p {
  display: block;
  width: 98%;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  opacity: 0;
  font-size: 16px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-properties: opacity;
  transition-properties: opacity;
}

.seq .seq-title h2 {
  padding: .2em 1%;
  font-family: 'Oxygen', sans-serif;
  color: white;
  background: black;
  float: left;
}

.seq .seq-title p {
  display: none;
  clear: left;
}

.seq .seq-in {
  /* Animate in positions for content */
}

.seq .seq-in .seq-model img {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.seq .seq-in .seq-title h2,
.seq .seq-in .seq-title p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.seq .seq-out {
  /* Animate out positions for content */
}

.seq .seq-out .seq-model img {
  -webkit-transform: translate3d(-60px, 0, 0);
  -ms-transform: translate3d(-60px, 0, 0);
  transform: translate3d(-60px, 0, 0);
  opacity: 0;
}

.seq .seq-out .seq-title h2,
.seq .seq-out .seq-title p {
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media only screen and (min-width: 640px) {
  .seq {
    /* Make the container 16:9 but no bigger than 90% of the screen height */
    position: relative;
    height: auto;
    /*height: 100%;*/
    height: 600px;
    /*max-height: 90vh;*/
    max-height: 100%;
    min-height: 360px;
    /* Move the background radial to the left */
    background-position: 50% 100%;
  }

  .seq:before {
    /* Make an element a certain aspect ratio */
    /*display: block;*/
    display: none;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }

  .seq .seq-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .seq .seq-canvas > *:before {
    /* Vertically align the content using a :before element */
    /*    content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;*/
  }

  .seq .seq-model,
  .seq .seq-title {
    /*position: relative;*/
    display: inline-block;
    /*vertical-align: middle;*/
    /*margin: 0 5% 0 2.5%;*/
  }

  .seq .seq-model {
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .seq .seq-model img {
    float: right;
    opacity: 0;
    -webkit-transform: translate3d(60px, 0, 0);
    -ms-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
    -webkit-transition-properties: transform, opacity;
    transition-properties: transform, opacity;
  }

  .seq .seq-title {
    bottom: 0;
    width: 40%;
    margin-right: 12.5%;
  }

  .seq .seq-title h2,
  .seq .seq-title p {
    display: inline-block;
    width: auto;
    margin: 0;
    opacity: 0;
    text-align: left;
    font-size: 18px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-properties: transform, opacity;
    transition-properties: transform, opacity;
  }

  .seq .seq-title h2 {
    margin-bottom: .4em;
    padding: .2em .6em;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background: black;
    -webkit-transform: translate3d(-120px, 0, 0);
    -ms-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
  }

  .seq .seq-title h3 {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-transform: translate3d(120px, 0, 0);
    -ms-transform: translate3d(120px, 0, 0);
    transform: translate3d(120px, 0, 0);
  }

  .seq .seq-in {
    /* Animate in positions for content */
  }

  .seq .seq-in .seq-model img {
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    width: 100%;
  }

  .seq .seq-out {
    /* Animate out positions for content */
  }

  .seq .seq-out .seq-model img {
    -webkit-transform: translate3d(-60px, 0, 0);
    -ms-transform: translate3d(-60px, 0, 0);
    transform: translate3d(-60px, 0, 0);
  }
}

@media only screen and (min-width: 768px) {
  .seq.seq-active .seq-pagination {
    /* Show navigation and pagination if JS is enabled */
    display: block;
  }

  .seq .seq-pagination {
    pointer-events: none;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 5px;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
    text-align: right;
  }

  .seq .seq-pagination li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
  }

  .seq .seq-pagination li img {
    opacity: .4;
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-properties: transform, opacity;
    transition-properties: transform, opacity;
  }

  .seq .seq-pagination li.seq-current img {
    opacity: 1;
  }

  .seq .seq-pagination li:focus img,
  .seq .seq-pagination li:hover img {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@media only screen and (min-width: 860px) {
  /*.seq .seq-model {
    margin-left: 10%;
    width: 27.5%;
  }

  .seq .seq-title {
    width: 42.5%;
    margin-right: 10%;
  }

  .seq .seq-title br {
    display: inline-block;
  }*/
}

@media only screen and (min-width: 1020px) {
  /* .seq .seq-model {
     margin-left: 5%;
     width: 32.5%;
   }

   .seq .seq-title {
     width: 47.5%;
     margin-right: 5%;
   }*/
}

@media only screen and (min-width: 1120px) {
  /*.seq .seq-model {
   height: 100%;
   margin-left: 0;
   margin-right: 0;
   width: 100%;
 }

   .seq .seq-title {
    left: 38%;
 margin-right: 0;
 position: absolute;
 top: 38%;
 width: 52.5%;
   }*/
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .seq {
    /* Apply Retina (@2x) Images */
  }

  .seq .seq-next {
    /*background: url("../images/bt-next@2x.png");*/
    background-size: 35px 66px;
  }

  .seq .seq-prev {
    /*background: url("../images/bt-prev@2x.png");*/
    background-size: 35px 66px;
  }
}

/*# sourceMappingURL=sequence-theme.modern-slide-in.css.map */













